<div class="container">
  <div class="checkboxes-list">
    <nikevco-ui-checkbox [(ngModel)]="isChecked">Checkbox</nikevco-ui-checkbox>
    <button nikevco-raised-button (click)="toggleCheckbox()">
      Toggle checkbox
    </button>
    <nikevco-ui-checkbox color="primary">Primary</nikevco-ui-checkbox>
    <nikevco-ui-checkbox color="secondary">Secondary</nikevco-ui-checkbox>
    <nikevco-ui-checkbox color="warn">Warn</nikevco-ui-checkbox>
    <nikevco-ui-checkbox color="danger">Danger</nikevco-ui-checkbox>
    <nikevco-ui-checkbox labelPosition="before" color="success"
      >Success</nikevco-ui-checkbox
    >
    <nikevco-ui-checkbox [disabled]="true">Disabled</nikevco-ui-checkbox>
  </div>
  <div class="checkboxes-list">
    Example with Angular Forms
    <nikevco-ui-checkbox
      [ngModel]="pizza.allChecked"
      (ngModelChange)="setAllIngridients($event)"
      [indeterminate]="someCheckedIngridients()"
      color="secondary"
      >{{ pizza.name }}</nikevco-ui-checkbox
    >
    <nikevco-ui-checkbox
      *ngFor="let ingridient of pizza.ingridients; let idx = index"
      [(ngModel)]="ingridient.checked"
      (ngModelChange)="updateAllIngridientsChecked()"
      color="secondary"
      >{{ ingridient.name }}</nikevco-ui-checkbox
    >
  </div>
  <div [formGroup]="gymMembership" class="checkboxes-list">
    Example with Reactive Angular Forms
    <nikevco-ui-checkbox
      formControlName="allInclusive"
      [indeterminate]="someCheckedBonuses()"
      color="secondary"
      >{{ pizza.name }}</nikevco-ui-checkbox
    >

    <ng-container formGroupName="bonuses">
      <nikevco-ui-checkbox formControlName="spa" color="secondary"
        >SPA</nikevco-ui-checkbox
      >
      <nikevco-ui-checkbox formControlName="massage" color="secondary"
        >Massage</nikevco-ui-checkbox
      >
    </ng-container>
  </div>

  <div class="checkboxes-list">
    Example with error validation
    <nikevco-ui-checkbox [formControl]="requiredCheckbox"
      >Required Checkbox</nikevco-ui-checkbox
    >
    <button nikevco-stroked-button (click)="submitFormExample()">Submit</button>
  </div>
</div>
