<div class="container">
  <nikevco-ui-card class="example-card">
    <nikevco-ui-card-header>
      Header
      <nikevco-ui-card-title>Title</nikevco-ui-card-title>
    </nikevco-ui-card-header>
    <nikevco-ui-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, voluptatibus. Enim, sunt
        cumque officia adipisci similique magnam obcaecati quasi optio odio perspiciatis quidem,
        provident suscipit tenetur inventore ipsam delectus dolorum hic dolores, minima nesciunt
        corporis sint distinctio. Atque.
      </p>
    </nikevco-ui-card-content>
    <nikevco-ui-card-actions>
      <button nikevco-stroked-button>Send</button>
      <button nikevco-stroked-button>Cancel</button>
    </nikevco-ui-card-actions>
    <nikevco-ui-card-footer>Footer</nikevco-ui-card-footer>
  </nikevco-ui-card>
</div>
