<div class="nav">
  <a [routerLink]="['buttons']" nikevco-button>Buttons</a>
  <a [routerLink]="['cards']" nikevco-button>Cards</a>
  <a [routerLink]="['checkboxes']" nikevco-button>Checkboxes</a>
  <a [routerLink]="['radios']" nikevco-button>Radios</a>
  <a [routerLink]="['dropdowns']" nikevco-button>Dropdowns</a>
  <a [routerLink]="['sliders']" nikevco-button>Sliders</a>
  <a [routerLink]="['badges']" nikevco-button>Badges</a>
  <a [routerLink]="['toggle-buttons']" nikevco-button>Toggle buttons</a>
</div>

<router-outlet></router-outlet>
