<div class="container">
  <nikevco-ui-slider (valueChange)="onChangeSingleValue($event)" [min]="10"> </nikevco-ui-slider>
  <nikevco-ui-slider [value]="170" [min]="150" [step]="5" [max]="200"> </nikevco-ui-slider>
  <nikevco-ui-slider [min]="min" [step]="step" [max]="max"> </nikevco-ui-slider>

  <nikevco-ui-slider [min]="100" [step]="1" [max]="500"> </nikevco-ui-slider>

  <nikevco-ui-slider
    (valueChange)="onChangeRangeValue($event)"
    [highValue]="90"
    [min]="1"
    [step]="1"
    [max]="100"
  >
  </nikevco-ui-slider>

  <nikevco-ui-slider [(ngModel)]="modelValue" [min]="1000" [step]="100" [max]="10000">
  </nikevco-ui-slider>

  <nikevco-ui-slider [formControl]="formControl" [min]="1000" [step]="100" [max]="10000">
  </nikevco-ui-slider>
</div>
