<div class="container">
  <div>
    <h5>Common buttons</h5>
    <button nikevco-button>Basic</button>
    <button nikevco-button color="primary">Primary</button>
    <button nikevco-button color="secondary">Secondary</button>
    <button nikevco-button color="warn">Warn</button>
    <button nikevco-button color="success">Success</button>
    <button nikevco-button color="danger">Danger</button>
    <a href="/" target="_blank" nikevco-button>Link</a>
    <button nikevco-button disabled>Disabled</button>
  </div>
  <div>
    <h5>Flat buttons</h5>
    <button nikevco-flat-button>Basic</button>
    <button nikevco-flat-button color="primary">Primary</button>
    <button nikevco-flat-button color="secondary">Secondary</button>
    <button nikevco-flat-button color="warn">Warn</button>
    <button nikevco-flat-button color="success">Success</button>
    <button nikevco-flat-button color="danger">Danger</button>
    <a href="/" target="_blank" nikevco-flat-button>Link</a>
    <button nikevco-flat-button disabled>Disabled</button>
  </div>
  <div>
    <h5>Icon buttons</h5>
    <button nikevco-icon-button>
      <nikevco-icon src="assets/icons/menu-hamburger-icon.svg"></nikevco-icon>
    </button>
    <button nikevco-icon-button disabled>
      <nikevco-icon src="assets/icons/disabled-icon.svg"></nikevco-icon>
    </button>
  </div>
  <div>
    <h5>Raised buttons</h5>
    <button nikevco-raised-button>Basic</button>
    <button nikevco-raised-button color="primary">Primary</button>
    <button nikevco-raised-button color="secondary">Secondary</button>
    <button nikevco-raised-button color="warn">Warn</button>
    <button nikevco-raised-button color="success">Success</button>
    <button nikevco-raised-button color="danger">Danger</button>
    <a href="/" target="_blank" nikevco-raised-button>Link</a>
    <button nikevco-raised-button disabled>Disabled</button>
  </div>
  <div>
    <h5>Stroked buttons</h5>
    <button nikevco-stroked-button>Basic</button>
    <button nikevco-stroked-button color="primary">Primary</button>
    <button nikevco-stroked-button color="secondary">Secondary</button>
    <button nikevco-stroked-button color="warn">Warn</button>
    <button nikevco-stroked-button color="success">Success</button>
    <button nikevco-stroked-button color="danger">Danger</button>
    <a href="/" target="_blank" nikevco-stroked-button>Link</a>
    <button nikevco-stroked-button disabled>Disabled</button>
  </div>
</div>
